#searchbarflex{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.bar{
width: 75%;
height: 30px;
}

#buttonsflex {
display: flex;
justify-content: space-around;
margin-top: 150px;
}
.home-button {
    border: 3px outset #4169e1;
}