<div id= "logoflex">
  <img src="https://vectr.com/samuelgendelman/bddvC2Ap.svg?width=400&height=400&select=bddvC2Appage0">
</div>
<p [@buttonAnimation] = 'state' (click) = "animateMe()">hello</p>

<form [formGroup] = 'homeForm' novalidate >
  <div id = "searchbarflex">
    <input class = "bar" placeholder = "Search for an item!" formControlName = 'searchForm'>
  </div>

  
  <div id = "buttonsflex">
    <button class = "home-button" >search</button>
    <button class = "home-button">about</button>
  </div>

  <div id = "results-flex">
    <app-search></app-search>
  </div>
</form>
<p>Form value: {{ homeForm.value | json }}</p>
<p>Form status: {{ homeForm.status | json }}</p>