#logoflex{

    display:flex;
    justify-content: center;
}
#searchbarflex{

    display: flex;
    justify-content: center;


}

.bar{
width: 75%;
height: 30px;
}

#buttonsflex {
display: flex;
justify-content: space-around;
margin-top: 150px;
}
.home-button {
    border: 3px #4169e1;
    height: 65px;
    width: 90px;
    color: white;
    background-color: blue;
    font-size: 24px;
}